@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using Microsoft.AspNetCore.Identity
@using BlogProject.Services

@inject IImageService imageService
@inject UserManager<BlogUser> userManager
@model IPagedList<Post>

<!-- ======= Search Results ======= -->
<section id="search-result" class="catagory-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 section-header ">
                <h2 class="border-bottom border-2 border-dark">Search Results</h2>


                @foreach (var post in Model)
                {
                    <div class="d-md-flex post-entry-2 small-img">
                        <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug" class="me-4 thumbnail">
                            <img src="@imageService.DecodeImage(post.ImageData,  post.ContentType)" alt="" class="img-fluid">
                        </a>
                        <div>
                            <div class="post-meta"><span class="date">@post.Tags</span> <span class="mx-1">&bullet;</span> <span>@post.Created</span></div>
                            <h3><a href="single-post.html">@post.Title</a></h3>
                            <p>@post.Abstract</p>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">@post.BlogUser</h3>
                                </div>
                            </div>
                        </div>
                    </div>



                }



                <!-- Paging -->
                <!-- End Paging -->

            </div>

            <div class="col-md-3">
                <!-- ======= Sidebar ======= -->
                <div class="aside-block">

                    
                    
                </div>

             @*   <div class="aside-block">
                    <h3 class="aside-title">Video</h3>
                    <div class="video-post p-4">
                        <a href="https://www.youtube.com/" class="glightbox link-video">
                            <span class="bi-play-fill"></span>
                            <img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>*@
                <!-- End Video -->

                @*<div class="aside-block">
                    <h3 class="aside-title">Categories</h3>
                    <ul class="aside-links list-unstyled">
                        <li><a href="category.html"><i class="bi bi-chevron-right"></i> Business</a></li>
                       
                    </ul>
                </div>*@<!-- End Categories -->

                <div class="aside-block">
                    <h3 class="aside-title">Tags</h3>
                    <ul class="aside-tags list-unstyled">
                        <li><a href="#">DotNet</a></li>
                        
                    </ul>
                </div>
                    <!-- End Tags -->

            </div>

        </div>
    </div>
</section> <!-- End Search Result -->


<hr />
<!-- Paging -->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page, searchTerm = ViewData["SearchTerm"] }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
    </div>
</div>
